* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Play', sans-serif;
}

body {
  background-color: #303030;
  color: white;
  text-align: center;
  margin-top: 80px;
}

canvas {
width: 36px;
height: 36px;
border-radius: 50%;
position: absolute;
margin-left: -19.5px;
margin-top: 1px;
z-index: 3;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: black;
  display: inline-block;
}

.logo {
  float: left;
  width: auto;
  display: inline-block;
  margin-top: -10px;
}

.status {
  position: relative;
  width: 360px;
  height: 28px;
  background-color: green;
  color: white;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
}

#red {
  background-color: red;
}

.user {
  margin-right: 20px;
  width: auto;
  top: 15px;
  right: 10px;
  display: inline-block;
  position: absolute;
}

#alert {
  width: 100%;
  height: 50px;
  top: 27%;
  background-color: red;
  font-size: 30px;
  color: white;
  position: absolute;
  z-index: 6;
  opacity: 0.8;
  transition: 1.2s all linear;
  padding-top: 3px;
}

#alert.ng-hide-remove, #alert.ng-hide-add {
  display: block !important;
}

#alert.ng-hide-remove, #alert.ng-hide-add.ng-hide-add-active{
    opacity: 1;
}

#alert.ng-hide-remove.ng-hide-remove-active, #alert.ng-hide-add{
    opacity: 0;
}

#gameover {
  width: 100%;
  height: 50px;
  top: 27%;
  background-color: red;
  font-size: 30px;
  color: white;
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  padding-top: 3px;
}

.game {
	position: absolute;
	width: 100%;
  top: 120px;
}

.boards {
	margin: 0 auto;
	width: 900px;
	position: relative;
  margin-top: 20px;
}

.board {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.board.radar {
  padding-right: 40px;
}

.board.fleet {
  padding-left: 40px;
}

.board-cell {
  height: 40px;
  width: 40px;
  color: white;
} 

.board-cell-content {
  height: 40px;
  width: 40px;
  border-style: solid;
  border-color: #33FF33;
  border-width: 1px;
  background-color: #003300;
  transition: background-color 1s ease;
}

.board-cell-content:hover {
  border-color: white;
  background-color: #33FF33;
}

.result {
  margin-left: 4px;
  margin-top: -15.5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.result#hit {
  background-color: #CC0400;
}

.result#miss {
  background-color: #007F00;
}

.result#miss-fleet {
  background-color: #128AB2;
}

img {
  margin-left: -19.5px;
  position: absolute;
}

.fleet-board-cell-content {
  height: 40px;
  width: 40px;
  border-style: solid;
  border-color: #361BB2;
  border-width: 1px;
  background-color: #33CCFF;
}

.armada {
	position: relative;
	display: inline-block;
	float: right;
	width: 350px;
	height: 350px;
	margin-top: 30px;
	margin-right: 0px;
}

.ship {
	margin: 30px;
  margin-top: -16px;
  margin-left: 3px;
  height: 32px;
  position: relative;
  background-color: #5E5E5E;
}

#minesweeper {
  width: 72px;
  border-radius: 300% / 300%;
}

#frigate {
  width: 112px;
  border-radius: 40px 30% 30% 40px;
}

#destroyer {
  width: 152px;
  border-radius: 1000px / 200px;
}

#cruiser {
  width: 192px;
  border-radius: 1000px / 200px;
}

#carrier {
  width: 232px;
  border-radius: 1000px / 50px;
}

button {  
  background: green; 
  color: white;
  border: none;
  display: inline-block;
  border-radius: 5px;
}

.ready-button {
  width: 60px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.msg form {
  color: black;
  bottom: 0;
  float: left;
  padding-top: 10px;
  display: inline-block;
} 

.chat {
  color: white;
  margin: 5px;
  height: 150px;
  width: 400px;
  opacity: 0.5;
  overflow-y: hidden;
  display: inline-block;
  padding-top: 10px;
}

.chat li {
  list-style-type: none;
  float: left;
}

