* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	background-color: #303030;
	color: white;
	text-align: center;
}

.board-table {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	float: left;
	padding: 30px;
}

.board-cell {
	height: 40px;
	width: 40px;
	color: white;
} 

.board-cell-content {
	height: 40px;
	width: 40px;
	border-style: solid;
	border-color: #339933;
	border-width: 1px;
	background-color: #003300;
	transition: background-color 1s ease;
}

.board-cell-content:hover {
	border-color: white;
	border-width: 2.5px;
	background-color: #00CC00;
}

.fleet-board-cell-content {
	height: 40px;
	width: 40px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-color: #33CCFF;
}

.fleet-board-cell-content:hover {
	border-color: white;
	border-width: 2.5px;
}

.chat {
	color: white;
	margin: 10px;
	height: 400px;
	width: 500px;
	background-color: black;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	float: right;
	overflow-y: auto;
	position: relative;
}

.chat li {
	list-style-type: none;
	float: left;
}

.msg form {
	color: black;
	position: absolute;
	bottom: 0;

} 
            
.msg button {  
	background: green; 
	color: white;
	border: none;

}
