
audio {
  display:none;
}

h1 {
  font-size: 62px;
}

.logo-home{
  margin: 0 auto;
  display: block;
  margin-top: -20px;
}

.hero {
  margin-right: 20px;
  margin-top: -65px;
  width: auto;
  display: block;
  position: relative;
  float: right;
}

.signin {
	padding: 10px;
	width: 400px;
	margin: 0 auto;
  height: 130px;
}

.signin h2{
  color: black;
}

#username[type="text"] {
  width: 200px;
  margin: 5px;
} 

.start {
	background-color: green;
	color: white;
	border: none;
	border-radius: 8px;
	padding: 8px;
}

#vamo {  
  background: #FF6302;
  color: rgb(12, 24, 244);
  border: solid;
  display: inline-block;
  padding: 8px;
  border-radius: 21px;
  font-size: 25px;
}

video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: -100;
  background-size: cover;
}


