header {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: black;
  padding: 10px;
  display: inline-block;
}

.logo {
  float: left;
  width: auto;
  display: inline-block;
}

.hero {
	float: right;
	margin-right: 20px;
}

.signin {
	padding: 10px;
	width: 400px;
	margin: 0 auto;
}

form {
	color: black;
}

.start {
	background-color: green;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

#ocean{
  position:absolute;
  width:100%;
  height:85%;
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, rgb(0,50,150)),
  color-stop(0.50, rgb(0,150,255))
  );
}

.wave{
  background:#a8e3ff;
  display:inline-block;
  height:60%;
  width:10px;
  position:absolute;
  -webkit-animation-name:             dostuff; 
  -webkit-animation-duration:         3s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-transition-timing-function: ease-in-out;
}


@-webkit-keyframes dostuff{
  0%{
    height:60%;
  }
  50%{ 
    height:40%;
  }
  100%{ 
    height:60%;
  }
}
