
<header class='header'>
  <span class='logo'>
    <h2>Mechanical Jerk</h2>
  </span>
  
  <span class="status">
    <div id='green' ng-show='turnAlert' class='ng-hide'>It's your turn!</div>
    <div id='red' ng-show='waitAlert' class='ng-hide'>Wait for incoming shot</div>
    <div id='red' ng-show='gameOver' class='ng-hide'>GAME OVER</div>
  </span>  

  <span class='user'>
    <h4>Welcome, Admiral {{ user.username }}</h4>
  </span>
</header>

<section class="game">
  <div class='popup'>  
    <div id='alert' ng-show="notTurnAlert" class="ng-hide">Seriously, dude, wait your turn.</div>
    <div id='alert' ng-show='chooseAgain' class='ng-hide'>Cell already shot! Choose again.</div>
  </div>

  <container class="armada">
  	<h3> Armada </h3>
  	<br>
    <div class="ship" id="corvette" draggable="true" ondragstart="drag(event)"></div>
    <div class="ship" id="frigate" draggable="true" ondragstart="drag(event)"></div>
    <div class="ship" id="destroyer" draggable="true" ondragstart="drag(event)"></div>     
    <div class="ship" id="cruiser" draggable="true" ondragstart="drag(event)"></div>
    <div class="ship" id="carrier" draggable="true" ondragstart="drag(event)"></div>
  </container>

  <section class='boards'>
    <div class="board radar">
      <table class="board-table">
          <tr class='board-row' ng-repeat="row in radarBoard.rows">
            <td ng-repeat='cell in row' class="board-cell board-cell_empty">
              <div ng-click="check(cell)" class="board-cell-content">&nbsp
                <span ng-if="cell.shot">Shot</span>
                <span ng-if="cell.hit">Hit</span>
                <span ng-if="cell.miss">Miss</span>
              </div>
            </td>
          </tr>
      </table>

      <div class='msg'>
        <form>
          <input id="msg" ng-model="msg" type='text' placeholder="Fraternize with the enemy" size='53px'/>
          <button ng-click="chatForm.sendChat(msg)">Send</button>
        </form>
      </div>  
    </div>

    <div class="board fleet" >
      <table class="board-table" ondrop="drop(event)" ondragover="allowDrop(event)">
          <tr class='board-row' ng-repeat="row in fleetBoard.rows"> 
              <td ng-repeat='cell in row' class="board-cell board-cell_empty">
                <div class="fleet-board-cell-content">&nbsp
                  <span ng-if="cell.hit">Hit</span>
                  <span ng-if="cell.miss">Miss</span>
                </div>
              </td>
          </tr>
      </table>

      <div class='chat'>
        <ul ng-repeat="msgChat in messages track by $index" on-finish-render >
          <li>{{ msgChat.username }}: {{ msgChat.content }}</li></br>
        </ul>
      </div> 
    </div>
  </section>

  <script>
    function allowDrop(ev) {
      ev.preventDefault();
    }

    function drag(ev) {
      ev.dataTransfer.setData("Text", ev.target.id);
    }

    function drop(ev) {
      ev.preventDefault();
      var data = ev.dataTransfer.getData("Text");
      console.log(data)
      ev.target.appendChild(document.getElementById(data));
    }
  </script>
</section> 