
<section class="home"> 

  <header class='header'>
    <div class='header-contents'><span class='logo-home'>
        <h2>Mechanical Jerk</h2>
      </span>
      <span class='hero'>
      	<h4>A battleship game for two adversaries</h4>
      </span>
    </div>  
  </header>


	<div class="signin">
		<h3>Enter a username</h3>
	  <form>
	    <input id="username" type='text' ng-model="username" autocomplete="off" />
	    <a href="#/game"><button class='start' ng-click="userEnter.enterName(username)">Start</button></a>
	  </form>
  </div>

</section>

<div id="ocean">
  <div class="aloha">
  <img src="http://www.animateit.net/data/media/august2009/image008.gif" border="0" alt="Battleship Smiley from AnimateIt.net" /> 
  </div>


 <!-- <video src="file:///Link685/Desktop/2263676.mp4"></video> -->
   <script>
     var ocean = document.getElementById("ocean"),
         waveWidth = 10,
        waveCount = Math.floor(window.innerWidth/waveWidth),
        docFrag = document.createDocumentFragment();

    for(var i = 0; i < waveCount; i++){
      var wave = document.createElement("div");
      wave.className += " wave";
      docFrag.appendChild(wave);
      wave.style.left = i * waveWidth + "px";
      wave.style.webkitAnimationDelay = (i/100) + "s";
    }

    ocean.appendChild(docFrag);

  </script>
</div>