
<section class="home"> 

  <header class='header'>
    <div class='header-contents'><span class='logo-home'>
        <h1>Mechanical Jerk</h1>
      </span>
      <span class='hero'>
      	<h4>A battleship game</h4>
      </span>
    </div>  
  </header>


	<div class="signin">
		<h2>Enter a username</h2>
	  <form>
	    <input id="username" type='text' ng-model="username" autocomplete="off" />
	    <a href="#/game"><button class='start' id="vamo" ng-click="userEnter.enterName(username)">Start</button></a>
	  </form>
  </div>


<video muted='true' preload='auto' autoplay='true' loop='loop' id="bgvid">
  <source src="http://edltd.com/ship.mp4" type="video/mp4"/>
</video>

</section>


